body {
    background-color: rgb(194, 224, 224);
}

.card {
    margin: 20px auto
}

/* #divForUsers .card:first-child {
    position: relative;
    top: 70px;
   } */

#divForUsers {
    position: relative;
    top: 60px;
}

@media screen and (max-width: 574px) {
	#divForUsers {
    position: relative;
    top: 108px;
	}	
}

@media screen and (max-width: 498px) {
	#divForUsers {
    position: relative;
    top: 148px;
	}	
}